<div class="container">
  <div class="row">
    <% @lists.each do |list| %>
        <%= link_to list_path(list), class:'text-decoration-none' do %>
        <div class="card-list">
        <%= list.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
