<footer class="navbar-light">
  <div class="container footer-content">
    <p>Created by <span>piotr</span></p>
    <div class="social-links">
      <div class="social-link">
        <a href="#"><i class="fab fa-facebook" id="facebook"></i></a>
      </div>
      <div class="social-link">
        <a href="#"><i class="fab fa-linkedin" id="linkedin"></i></a>
      </div>
      <div class="social-link">
        <a href="#"><i class="fab fa-github" id="github"></i></a>
      </div>
    </div>
  </div>
</footer>