<nav class="navbar navbar-light d-flex">
  <div class="d-flex" id="navbar-right">
    <i class="fas fa-film"></i>
    <%= link_to 'Watchlist', lists_path, class: 'navbar-brand' %>
  </div>
  <div>
    <%= link_to 'Add List', new_list_path, class: 'btn btn-outline-primary my-2 my-sm-0 ml-2'%>
  </div>
</nav>
