.card-list {
  background-color: #1f2c3c;
  height: 180px;
  width: 300px;
  padding: 20px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: acb3b9;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-movie {
  background-color: #1f2c3c;
  height: 210px;
  width: 330px;
  padding: 20px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  cursor: pointer;
}

.card-movie img {
  width: 300px;
  height: 180px;
  object-fit: cover;
}

.movie-info {
  color: #acb3b9;
  background-color: #1f2c3c;
  font-size: 16px;
  height: 170px;
  width: 450px;
  z-index: 1;
  position: absolute;
  left: 300px;
  padding: 10px 20px;
  border-radius: 0 5px 5px 0;
}

.info-main {
  display: flex;
  justify-content: start;
  align-items: center;
}

.movie-title {
  font-size: 32px;
  margin-right: 10px;
  max-width: 300px;
}

.movie-rating {
  color: #ff6c30;
  font-size: 18px;
}

.list-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-name h1,
.flat-form h1,
.new-bookmark-form h1 {
  font-size: 48px;
  color: #acb3b9;
  font-weight: bold;
}

.list-name i {
  font-size: 40px;
}

.custom-container {
  margin: 0 20px;
  padding: 16px;
}

.movies-wrapper {
  display: flex;
}

.left-column {
  flex: 60%;
}

.right-column {
  flex: 40%;
}

.movies-count {
  color: #acb3b9;
  padding: 10px;
  font-size: 26px;
}

.delete-list-btn {
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-details-wrapper {
  width: 500px;
  height: 500px;
  background-color: #1f2c3c;
  margin: 20px;
  padding: 20px;
  display: none;
  position: fixed;
}

.movie-details-wrapper.active {
  display: block;
}

.movie-details-wrapper img {
  width: 460px;
  object-fit: cover;
}

.new-list-form {
  height: 300px;
  margin-top: 50px;
  padding: 20px;
  background-color: #1f2c3c;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.new-list-form label {
  color: #acb3b9;
  font-size: 1rem;
  font-weight: 400;
}

.new-list-form input {
  margin-bottom: 60px;
}

.input-field-list {
  background-color: #0e1824;
  color: #acb3b9;
}

.new-bookmark-form {
  margin-top: 20px;
  padding: 20px;
}

.new-bookmark-form span {
  color: #ff6c30;
}

.new-bookmark-form label {
  color: #acb3b9;
}